/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}
.line{
	height: 100px;
	width: 100px;
	border-bottom: 100px;
}
h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}
hr{
  width: 750px;
  size: 800px;
}

.container_2{
  background-color:darkgray
}